@import "mixins/all";
@import "modules/common";

$order-button-gap: 15px;
$color-footer-text: #9BA6B0;
$color-footer-background: #2C3E50;

span, li, div, input {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, button {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
}

#map {
  height: 600px;
  margin-top: -$header-height;
  position: relative;
}

body {
  background: white;
}

.m-map {
  @include l-max-width;

  position: absolute;
  top: 200px;
  left: 100px;
  right: 100px;
  z-index: 999;
}

.m-map-order {
  background: $color-yellow;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
  border-radius: 2px;
  padding: 20px;

  float: left;
  width: 300px;

  input {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 16px;
    padding: 5px;
    margin: 6px 0;

    border-radius: 4px;
    border: 1px #b08d00 solid;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.28);
  }

  h3 {
    font-size: 25px;
  }

  span {
    display: block;
    font-size: 14px;
  }

  fieldset {
    padding: $order-button-gap 0;
    border: 0;
  }

  .m-map-order-date {
    margin-right: 90px;
  }

  .m-map-order--time {
    float: right;
    width: 80px;
  }

  .m-map-order--submit {
    display: block;
    width: 100%;
    border: none;
    background: #2C3E50;
    color: $color-yellow;
    height: 45px;
    border-radius: 4px;
    font-size: 20px;
  }
}

.m-map-order-sub-actions {
  margin-top: $order-button-gap;

  a {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.7;
  }
}

.m-map-label {
  margin: 40px 0 0 400px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
  padding: 40px;

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  li {
    margin-top: 10px;
  }

  .fa-circle-thin {
    font-size: 0.8em;
    padding-right: 10px;
    vertical-align: middle;
  }
}

.m-landing-callouts {
  @include clearfix;
  @include l-max-width;

  margin: 70px auto;
}

.m-landing-callout {
  float: left;
  width: 50%;
  margin: 30px 0;

  > .fa {
    @extend %circle-large;
    color: #2C3E50;

    float: left;
    font-size: 30px;
  }
}

.m-landing-callout-data {
  margin-left: 80px;

  h3 {
    color: #393939;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 100;
  }

  h4 {
    color: $color-yellow;
    margin: 10px 0;
    font-family: 'Open Sans';
  }

  p {
    margin: 20px 0;
    font-weight: 100;
    line-height: 1.5em;
  }
}

footer {
  background: $color-footer-background;
  color: $color-footer-text;
  border-bottom: 3px solid $color-yellow;

  a {
    color: $color-footer-text;
  }
}

.m-footer {
  @include l-max-width;

  text-align: center;
  font-size: 13px;
  padding: 40px 0;

  .m-footer--copyright {
    padding-top: 20px;
  }
}

.m-footer-social {
  li {
    display: inline-block;
  }

  .fa {
    @include circle(30px, $color-footer-text);
    @include transition(all 0.2s ease-out);

    margin: 0 2px;

    &:hover {
      color: $color-footer-background;
      border: 1px solid $color-footer-background;
      background: $color-footer-text;
    }
  }
}