<div class="m-list">
    <div class="m-list-filter">
        <p-filter-buttons filter-model="shared.filter"/>
    </div>

    <div ng-show="loading" class="m-list-items-loading ng-cloak">
        Loading...
    </div>

    <ul class="m-list-items" ng-hide="loading">
        <li class="m-list-item" ng-repeat="item in items">
            <a ui-sref="list({ filter: shared.filter, item:item })">{{item}}</a>
        </li>
    </ul>

    <a ui-sref="list({ filter: anotherFilter, item: shared.item })">another filter</a>
</div>