<div class="m-list">
    <div class="m-list-filter">
        <button class="m-list-filter--item is-selection">
            <span>Цена</span>
        </button>
        <button class="m-list-filter--item is-selection">
            <span>Рейтинг</span>
        </button>
        <button class="m-list-filter--item">
            <span>Парковка</span>
        </button>
        <button class="m-list-filter--item">
            <span>Кредитные карты</span>
        </button>
        <button class="m-list-filter--item is-selection">
            <span>Режим работы</span>
        </button>
        <button class="m-list-filter--item is-selection">
            <span>Районы</span>
        </button>
    </div>

    <ul class="m-list-items">
        <li class="m-list-item">
            <img src="/img/places/place-1.jpg" alt="Lumberjack Bar" class="m-list-item--img"/>
            <h4 class="m-list-item--title">Lumberjack Bar</h4>
            <span class="m-list-item--type">Бары</span>
            <span class="m-list-item--description">Негромкий бар на «Китай-городе»</span>
            <div class="m-list-item-address">
                <span class="m-list-item-address--street">Б.Спасоглинищевский пер., 3, стр. 5</span>
                <span class="m-list-item-address--phone">+7 967 061 00 06</span>
                <span class="m-list-item-address--station">м. Китай-город</span>
            </div>
            <div class="m-list-item-right">
                <span class="m-list-item-right--rating is-best">8.8</span>
                <!--<span class="m-list-item-right--price">8.8</span>-->
            </div>
        </li>
    </ul>
</div>