@mixin circle($dimension, $color, $border-size: 1px) {
  display: inline-block;
  width: $dimension;
  height: $dimension;
  line-height: $dimension - $border-size*2;
  color: $color;
  border: $border-size solid $color;
  border-radius: 50%;
  text-align: center;
}