/* line 1, H:/job/projects-active/tennis/scss/modules/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, H:/job/projects-active/tennis/scss/modules/_reset.scss */
span, li, div, input {
  font-family: 'Open Sans', sans-serif;
}

/* line 9, H:/job/projects-active/tennis/scss/modules/_reset.scss */
h1, h2, h3, h4, button {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 13, H:/job/projects-active/tennis/scss/modules/_reset.scss */
a {
  text-decoration: none;
}

/* line 17, H:/job/projects-active/tennis/scss/modules/_reset.scss */
body {
  background: white;
}

/* line 21, H:/job/projects-active/tennis/scss/modules/_reset.scss */
button {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  outline: 0;
  cursor: pointer;
}

/* line 1, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.is-dropdown-active > .m-dropdown {
  display: block;
}

/* line 5, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.is-dropdown-active > .m-dropdown-tail {
  display: block;
}

/* line 9, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin-top: 11px;
  min-width: 140px;
  text-align: left;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
/* line 24, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  -webkit-box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.4);
}
/* line 35, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--tail {
  position: absolute;
  z-index: 1;
  top: -17px;
  left: -8px;
  width: 17px;
  height: 17px;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  background: rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom left, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
}
/* line 56, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--tail:after {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #ffffff;
  bottom: 1px;
  left: 1px;
  content: '';
}
/* line 68, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: .45em;
}
/* line 76, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--checkbox.is-checked:after {
  background: #ffeba0;
}
/* line 80, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--checkbox:after {
  position: absolute;
  content: '';
  padding: 0;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  width: 12px;
  height: 12px;
}
/* line 94, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--radio {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  margin-right: .45em;
  top: 2px;
  width: 14px;
  height: 14px;
}
/* line 104, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--radio.is-checked:before {
  background: #ffeba0;
}
/* line 108, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown .m-dropdown--radio:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  padding: 0;
  content: '';
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
/* line 123, H:/job/projects-active/tennis/scss/modules/_dropdown.scss */
.m-dropdown ul {
  position: relative;
  z-index: 2;
}
