<button class="m-list-filter--item" ng-class="{'is-selection': filter.selection, 'is-checked': isChecked()}" ng-click="toggle()" p-on-click-outside="hideDropdown">
    <span>{{filter.getTitle()}}</span>

    <div ng-if="filter.selection" ng-class="{'is-dropdown-active': isDropdownActive}">
        <p-dropdown items="filter.selection" multi="filter.multi" model="model" key="filter.key" on-item-click="onSelectionItemClick" />
    </div>
    <!--<div class="m-dropdown">-->
        <!--<div class="m-dropdown--tail"></div>-->

        <!--<ul>-->
            <!--<span class="m-dropdown--radio"></span>-->
            <!--<span class="m-dropdown--text">За все время</span>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<span class="m-dropdown--radio is-checked"></span>-->
            <!--<span class="m-dropdown--text">За все время</span>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<span class="m-dropdown--radio"></span>-->
            <!--<span class="m-dropdown--text">За все время</span>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<span class="m-dropdown--checkbox is-checked"></span>-->
            <!--<span class="m-dropdown--text">За все время</span>-->
        <!--</ul>-->
    <!--</div>-->
</button>