%button {
  position: relative;
  line-height: 28px;
  font-size: 13px;
  border-radius: 3px;

  &:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    padding: 0;
    content: '';
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  }

  &.is-inactive {
    color: #B4B4B4;
  }

  span {
    display: block;
    padding: 0 13px;
    position: relative;
  }
}

%button-arrow {
//  :after {
//    top: 50%;
//    width: 11px;
//    height: 6px;
//    margin-top: -3px;
//    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%…M10.08 0 5.5 4.36 0.91 0 0 0.86 5.5 6.11 11 0.86z%22%2F%3E%3C%2Fsvg%3E%0A");
//    background-position: 0 0;
//  }

  &:after {
    top: 50%;
    width: 11px;
    height: 6px;
    margin-top: -3px;

    right: 10px;
    -webkit-background-size: auto;
    background-size: auto;

    position: absolute;
    content: '';
    background: url("/img/arrow.svg") 0 0 no-repeat;
  }

  span {
    padding-right: 28px;
  }
}