.is-dropdown-active > .m-dropdown {
  display: block;
}

.is-dropdown-active > .m-dropdown-tail {
  display: block;
}

.m-dropdown {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin-top: 11px;
  min-width: 140px;

  text-align: left;
  padding-left: 10px;

  border: 1px solid rgba(0,0,0,.1);
  background: #ffffff;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-box-shadow: 0 10px 20px -4px rgba(0,0,0,.4);
    box-shadow: 0 10px 20px -4px rgba(0,0,0,.4);
  }

  .m-dropdown--tail {
    position: absolute;
    z-index: 1;
    top: -17px;
    left: -8px;
    width: 17px;
    height: 17px;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);

    background: rgba(0,0,0,.1);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(50%,rgba(0,0,0,.1)),color-stop(50%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(bottom left,rgba(0,0,0,.1)50%,rgba(0,0,0,0)50%);
    background: linear-gradient(to top right,rgba(0,0,0,.1)50%,rgba(0,0,0,0)50%);

    &:after {
      position: absolute;
      width: 17px;
      height: 17px;
      background: #ffffff;

      bottom: 1px;
      left: 1px;
      content: '';
    }
  }

  .m-dropdown--checkbox {

    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: .45em;

    &.is-checked:after {
      background: $color-yellow-light;
    }

    &:after {
      position: absolute;
      content: '';
      padding: 0;
      border-radius: 2px;
      background: #fff;
      -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
      box-shadow: 0 0 0 1px rgba(0,0,0,.2);

      width: 12px;
      height: 12px;
    }
  }

  .m-dropdown--radio {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    margin-right: .45em;

    top: 2px;
    width: 14px;
    height: 14px;

    &.is-checked:before {
      background: $color-yellow-light;
    }

    &:before {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      padding: 0;
      content: '';
      border-radius: 50%;
      background: #fff;
      -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
      box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }
  }

  ul {
    position: relative;
    z-index: 2;
  }
}